<div class="marginOnSides">
    <div class="title">
        Editing {{blogposts.title}}
    </div>
    <div>
        {{#if validationErrors.length}}
        {{#each validationErrors}}
            <p class="error-text">{{this}}</p>
        {{/each}}
        {{/if}}
        <form action="/blogs-page/blog-post/{{blogposts.id}}/edit-blog" method="POST" class="form">
            <label>Title</label>
            <input type="text" name="title" value="{{blogposts.title}}"><br>
            <label>Description</label>
            <textarea rows="2" cols="60" type="text" name="description">{{blogposts.description}}</textarea><br>
            <label>Main Content</label>
            <textarea rows="5" cols="60" type="text" name="mainContent">{{blogposts.mainContent}}</textarea><br>
            <input type="date" name="date" value="{{blogposts.date}}">
            <input type="submit" value="Update">
        </form>
    </div>
</div>